<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">

  <!-- STYLING -->
  <style>
    /* global */
    .graph__container{
        padding-right: 5%;
        padding-left: 5%;
        padding-top:2.5%;
        padding-bottom: 2.5%;
    }
    h1, h2{
        text-align: center;
    }
    h1{
        margin-bottom: 4rem;
    }
    .global__title{
        font-size: 4.5rem !important;
    }

    /* table */
    .table_year__subcategory{
        font-size: 0.8rem;
        color: gray;
    }
    .table_year__total{
        font-weight: bolder;
        text-decoration-line: underline;
        text-decoration-thickness: 0.1rem;
    }
    .table_year__category{
        border: dashed black;
    }
    .table_year__link{
        color: rgba(var(--bs-white-rgb),var(--bs-text-opacity)) !important;
        text-decoration-line: none;
    }
    .table_year__link:hover{
        font-weight: bold;
        text-decoration-line: underline;
    }

    /* index */
    .accordion-item.collapsed {
        background:#343a40;
    }
    .accordion-item:not(.collapsed) {
        background:#343a40 !important;
    }
    .accordion-button:not(.collapsed){
        background-color: #495057 !important;
        --bs-bg-opacity: 1;
        color: rgba(var(--bs-white-rgb),var(--bs-text-opacity)) !important
    }
    .accordion-button.collapsed{
        background-color: #495057 !important;
        --bs-bg-opacity: 1;
        color: rgba(var(--bs-white-rgb),var(--bs-text-opacity)) !important
    }
    .accordion-header:hover {
        border: 1px solid #c5c5c5 !important;
    }
    .accordion-button:hover {
        border: 1px solid #c5c5c5 !important;
    }
    .nav-link{
        color: #212529 !important;
    }
    .nav-link:hover{
        font-weight: bolder;
    }
  </style>


    <!-- DEPENDENCIES -->
    <!-- Bootstrap icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <!-- Plotly -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">  <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>


    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>{{title}}</title>


</head>

<body>
    <div class="bg-dark text-white">

        <div class="accordion graph__container" id="accordionIndex">
            <hr>
            <h1 class="h1 global__title">
                {{title}}
            </h1>
            <hr>
        </div>
        <!-- Index -->
        <div class="accordion graph__container" id="accordionIndex">
            <div class="accordion-item">
              <h2 class="accordion-header bg-dark " id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Overview
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionIndex">
                <div class="accordion-body">
                    <ul class="list-group">
                        {% for graph in graphs_overview %}
                        <li class="list-group-item list-group-item-dark">
                            <a class="nav-link" href="#{{graph.name}}"> <i class="bi bi-arrow-return-right"></i> {{graph.name}}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Categories
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionIndex">
                <div class="accordion-body">
                    <ul class="list-group">
                        {% for graph in graphs_category_details %}
                        <li class="list-group-item list-group-item-dark">
                            <a class="nav-link" href="#{{graph.name}}"> <i class="bi bi-arrow-return-right"></i> {{graph.name}}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwoAndHalf">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwoAndHalf" aria-expanded="false" aria-controls="collapseTwoAndHalf">
                    Categories average monthly expenses per year
                </button>
              </h2>
              <div id="collapseTwoAndHalf" class="accordion-collapse collapse" aria-labelledby="headingTwoAndHalf" data-bs-parent="#accordionIndex">
                <div class="accordion-body">
                    <ul class="list-group">
                        {% for graph in graphs_category_avg %}
                        <li class="list-group-item list-group-item-dark">
                            <a class="nav-link" href="#{{graph.name}}_avg"> <i class="bi bi-arrow-return-right"></i> {{graph.name}}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Data
                </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionIndex">
                <div class="accordion-body">
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-dark"><a class="nav-link" href="#year-expenses">Year expenses</a></li>
                    </ul>
                </div>
              </div>
            </div>
        </div>

        <!-- Overview -->
        <hr>
        <h1 id="overview">Overview</h1>
        <hr>

        {% for graph in graphs_overview %}
            <h2 id="{{graph.name}}">
                {{graph.name}}
            </h2>
            <div class="graph__container">
                {% autoescape off %}
                {{ graph.html }}
                {% endautoescape %}
            </div>
        {% endfor %}

        {% for _ in range(1,15) %}
        <br>
        {% endfor %}


        <!-- Categories -->
        <hr>
        <h1 id="categories">Categories</h1>
        <hr>


        {% for graph in graphs_category_details %}
            <h2 id="{{graph.name}}">
                {{graph.name}}
            </h2>
            <div class="graph__container">
                {% autoescape off %}
                {{ graph.html }}
                {% endautoescape %}
            </div>
        {% endfor %}


        {% for _ in range(1,15) %}
        <br>
        {% endfor %}


        <!-- Categories avg -->
        <hr>
        <h1 id="categories_avg">Categories average monthly expenses per year</h1>
        <hr>

        {% for graph in graphs_category_avg %}
            <h2 id="{{graph.name}}_avg">
                {{graph.name}} (Average)
            </h2>
            <div class="graph__container">
                {% autoescape off %}
                {{ graph.html }}
                {% endautoescape %}
            </div>
        {% endfor %}

        {% for _ in range(1,15) %}
        <br>
        {% endfor %}

        <!-- Table expenses year -->
        <hr>
        <h1 id="year-expenses">Yearly expenses</h1>
        <hr>

        <div class="graph__container">

            <table class="table table-dark table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>

                        </th>
                        {% for year in year_expenses['year'] %}
                        <th>
                                {{year}}
                        </th>
                        {% endfor %}
                        <th>
                            Total
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for category in year_expenses['categories'] %}
                        <tr class="table_year__category">
                            <th>
                                <a class="table_year__link" href="#{{category}}">{{category}}</a>
                            </th>
                            {% for year in year_expenses['year'] %}
                            <td>
                                {{year_expenses['categories'][category]['year'][year] | round(2) | string + ' ' + currency  if year_expenses['categories'][category]['year'][year]}}
                            </td>
                            {% endfor %}
                            <td class="table_year__total">
                                {{year_expenses['categories'][category]['sum'] | round(2) | string + ' ' + currency  if year_expenses['categories'][category]['sum']}}
                            </td>
                        </tr>
                        {% if year_expenses['categories'][category]['subcategories']%}
                            {% for subcategory in year_expenses['categories'][category]['subcategories'] %}
                            <tr class="table_year__subcategory">
                                <th>
                                    --> {{subcategory}}
                                </th>
                                {% for year in year_expenses['year'] %}
                                <td>
                                    {{year_expenses['categories'][category]['subcategories'][subcategory]['year'][year] | round(2) | string + ' ' + currency  if year_expenses['categories'][category]['subcategories'][subcategory]['year'][year]}}
                                </td>
                                {% endfor %}
                                <td class="table_year__total">
                                    {{year_expenses['categories'][category]['subcategories'][subcategory]['sum'] | round(2) | string + ' ' + currency  if year_expenses['categories'][category]['subcategories'][subcategory]['sum']}}
                                </td>
                            </tr>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}

                    <!-- Total -->
                    <tr>
                        <th>
                            Total
                        </th>
                        {% for year in year_expenses['year'] %}
                        <th>
                            {{year_expenses['year'][year] | round(2) | string + ' ' + currency if year_expenses['year'][year]}}
                        </th>
                        {% endfor %}
                        <th class="table_year__total">
                            {{year_expenses['sum'] | round(2) | string + ' ' + currency if year_expenses['sum']}}
                        </th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</body>
</html>